
.header{
    padding-left: 16px;
    padding-right: 16px;
    display: inline-block;
}

.links {
    font-size: 20pt;
    display: inline-block;
    white-space: nowrap;
    list-style: none;
    padding: 0;
    list-style-type: none;

    border-spacing: 0;
    border: 0;
    border-collapse: collapse;
}


.logo {
    font-size: medium;
}

.logo-header{
    float: left;
    padding-left: 25px;
}

.links-header {
    float: left;
    padding-left: 25px;
    padding-top: 60px;
}

.left_header{
    display: inline-block;
}

.right_header {
    display: inline-block;
    right: 100;
    position: absolute;
    padding-right: 25px;
}