h2 {
    text-align: center;
    padding: 25px;
}

a:hover {
    color: fuchsia;
}

td {
    color: black;
}

#myTable, .dataTable-top, .dataTable-bottom {
    background-color: rgba(255, 255, 255, 0.7);
}

#recipes {
    padding: 0px 200px 0px 200px;
}

@media (max-width:1186px){

    #recipes{
        padding: 0px calc(100vw - 986px) 0px calc(100vw - 986px);
    }
}