body {
  padding: 10px 50px 50px 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: transparent;
}


/* a {
  color: #00B7FF;
} */

#message {
  color: red;
}
/* nav ul li {
  display: inline;
  list-style-type: none;
}
.menu {text-align: right;} */
